/* Product Button*/ 

.product-btnContainer {
  margin-top: 2rem;
}

.product-btnContainer button, .hero-btn-area a, .product-btnContainer button svg path, .hero-btn-area a svg path {
  appearance: none;
  background-color: transparent;
  border: 0.125em solid #1A1A1A;
  border-radius: 0.9375em;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  margin-right: 1rem;
  min-height: 3.75em;
  min-width: 0;
  outline: none;
  padding: 1em 2.3em;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  stroke: #3B3B3B;
}

.product-btnContainer button:disabled,.hero-btn-area a:disabled {
 pointer-events: none;
}

.product-btnContainer button:hover,.hero-btn-area a:hover, .product-btnContainer:hover button svg path, .hero-btn-area:hover a svg path {
 color: #fff;
   stroke: #fff;
 background-color: #1A1A1A;
 box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
 transform: translateY(-2px);
}

.product-btnContainer button:active,.hero-btn-area a:active {
 box-shadow: none;
 transform: translateY(0);
}

.heroSection a:hover {
   background-color: #7d41ce;
   color: aliceblue;
    border: 0.125em solid transparent;

}